SQLAlchemy~=2.0.43
pandas~=2.3.2
dotenv~=0.9.9
python-dotenv~=1.1.1
httpx~=0.28.1
prefect~=3.4.17
hpack~=4.1.0
hyperframe~=6.1.0
uv~=0.8.15
dnspython~=2.7.0
idna~=3.10
httpcore~=1.0.9
cryptography~=42.0.8
anyio~=4.10.0
h11~=0.16.0
pip~=25.2
typing_extensions~=4.14.1
attrs~=25.3.0
protobuf~=4.25.8
cffi~=1.17.1
setuptools~=80.9.0
dill~=0.3.1.1
numpy~=2.3.2
grpcio~=1.65.5
Mako~=1.3.10
Pygments~=2.19.2
MarkupSafe~=3.0.2
pytz~=2025.2
rich~=13.9.4
markdown-it-py~=4.0.0
Flask~=2.2.5
Werkzeug~=2.2.3
svcs~=25.1.0
fastapi~=0.116.1
starlette~=0.47.2
toml~=0.10.2
PyYAML~=6.0.2
zipp~=3.23.0
sniffio~=1.3.1
Jinja2~=3.1.6
click~=8.2.1
itsdangerous~=2.2.0
mdurl~=0.1.2
charset-normalizer~=3.4.3
regex~=2025.9.1
typer~=0.16.1
shellingham~=1.5.4
fsspec~=2025.7.0
annotated-types~=0.7.0
cadwyn~=5.4.4
pydantic~=2.11.7
pydantic_core~=2.33.2
pydantic-settings~=2.10.1
lockfile~=0.12.2
python-daemon~=3.1.2
requests~=2.32.5
urllib3~=2.5.0
docker~=7.1.0
griffe~=1.14.0
colorama~=0.4.6
libcst~=1.8.2
orjson~=3.11.3
python-dateutil~=2.9.0.post0
psutil~=7.0.0
semver~=3.0.4
uvloop~=0.21.0
certifi~=2025.8.3
msgspec~=0.19.0
structlog~=25.4.0
retryhttp~=1.3.3
tenacity~=9.1.2
uuid6~=2025.0.1
methodtools~=0.4.7
pendulum~=3.1.0
lazy-object-proxy~=1.12.0
packaging~=25.0
sqlparse~=0.5.3
Deprecated~=1.2.18
more-itertools~=10.7.0
asgiref~=3.9.1
alembic~=1.16.4
importlib_metadata~=8.4.0
Markdown~=3.9
requests-oauthlib~=2.0.0
apprise~=1.9.4
asyncpg~=0.30.0
email_validator~=2.2.0
websockets~=15.0.1
readchar~=4.2.1
uvicorn~=0.35.0
humanize~=4.13.0
pydantic-extra-types~=2.10.5
asgi-lifespan~=2.1.0
jsonschema~=4.25.1
cachetools~=6.2.0
prometheus_client~=0.22.1
exceptiongroup~=1.3.0
croniter~=6.0.0
dateparser~=1.2.2
python-socks~=2.7.2
coolname~=2.2.0
cloudpickle~=3.1.1
python-slugify~=8.0.4
referencing~=0.36.2
pathspec~=0.12.1
jsonpatch~=1.33
graphviz~=0.21
psycopg~=3.2.9
rignore~=0.6.4
tzlocal~=5.3.1
h2~=4.3.0
httptools~=0.6.4
a2wsgi~=1.10.10
gunicorn~=23.0.0
watchfiles~=1.1.0
colorlog~=6.9.0
six~=1.17.0
greenlet~=3.2.4
setproctitle~=1.3.6
oauthlib~=3.3.1
psycopg2-binary~=2.9.10
aiosqlite~=0.21.0
pycparser~=2.22
termcolor~=3.1.0
wrapt~=1.17.3
jsonpointer~=3.0.0
rfc3339-validator~=0.1.4
jsonschema-specifications~=2025.4.1
uc-micro-py~=1.0.3
sentry-sdk~=2.35.0
argcomplete~=3.6.2
linkify-it-py~=2.0.3
rich-argparse~=1.7.1
wirerope~=1.0.0
cron-descriptor~=1.4.5
python-multipart~=0.0.20
SQLAlchemy-Utils~=0.41.2